@use "../App.scss";


main {
    padding: 20vh 0 10vh 0;
    
    section {
        border: solid;
        margin: 0 6vw;

        background-color: white;
        border:  App.$border;
        padding: 1.5em;

        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;

        #tags {
            @include App.small-btns;
            font-size: 1em;
            letter-spacing: 0.2em;
        }

        h1 {
            font-size: 6.6vmin;
            font-family: App.$header;
            border-bottom: solid 1px App.$accent;
            padding: 0.5em 0;
        }

        p {
            font-size: 1.2em;
            margin: 2em 0;
            line-height: 1.8em;
            max-width: 800px;
        }

        #ingredients {
            list-style-type: circle;
            list-style-position: inside;
            font-size: 1.2em;
            margin: 1em 0;
        }

        #split-right {
            h2 {
                font-size: 2em;
            }
        }

        #buttons {
            width: max-content;

            a {
                font-weight: bold;
                letter-spacing: 0.2em;
                text-decoration: none;
                color: App.$accent;
            }

            .edit-btn {
                margin-left: 1em;
            }
        }

        @media screen and (min-width: 900px) {
            padding-bottom: 2.5em;
            grid-template-columns: 1fr 1fr;

            #split-right {
                border-left: solid 1px App.$accent;
                padding-left: 1.5em;
            }
        }
        
    }
}