@use "../App.scss";


main {
    padding: 20vh 0;
    section {
        border: solid;
        height: 100vh;
        margin: 0 6vw;

        background-color: white;
        border:  App.$border;
        padding: 1.5em;

        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;

        #tags {
            @include App.small-btns;
            font-size: 1.2em;
        }

        h1 {
            font-size: 6.6vmin;
            font-family: App.$header;
            border-bottom: solid 1px App.$accent;
            padding-bottom: 0.5em;
        }

        p {
            font-size: 1.2em;
            margin: 2em 0;
            line-height: 1.8em;
            max-width: 800px;
        }

        #ingredients {
            list-style-type: circle;
            //border: solid;
            list-style-position: inside;
            font-size: 1.2em;
            margin: 1em 0;
        }

        @media screen and (min-width: 900px) {

            grid-template-columns: 1fr 1fr;

            #split-right {
                border-left: solid 1px App.$accent;
                padding-left: 1.5em; 
            }
            
        }
        
    }
}