//this is for styles that apply to entire app
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Fredoka+One&display=swap');


//colors
$main: #F5F3F0;
$secondary: #DB5A42;
$accent: #262020;
$grey-text: rgba(38, 32, 32, 0.87);

$yellow: #FFB042;
$yellow-action: #FF9C13;

$blue: #A5B1E8;
$blue-action: #5466E9;

$green: #1A986B;
$green-action: #008C5A;

$red: #F74C4C;
$red-action: #F63838;

//fonts
$header: 'Fredoka One', cursive;
$main-text: 'Fredoka', sans-serif;

//border
$border: solid 1px $accent;
$shadow: 0px 1px 35px rgba(192, 192, 192, 0.2);

@mixin general-styles {
    //padding: 0.5em;
    border: $border;
}

@mixin yellow-btn {
    background-color: $yellow;
    box-shadow: 0px 5px 15px rgba(255, 176, 66, 0.15);

    &:hover, &:active {
        background-color: $yellow-action;
        box-shadow: 0px 9px 10px rgba(253, 162, 34, 0.25);
        transform: translateY(-2px);
    }
}

@mixin blue-btn {
    background-color: $blue;

    &:hover, &:active {
        background-color: $blue-action;
    }
}

@mixin green-btn {
    background-color: $green;

    &:hover, &:active {
        background-color: $green-action;
    }
}

@mixin red-btn {
    background-color: $red;

    &:hover, &:active {
        background-color: $red-action;
    }
}

@mixin small-btns {
    list-style-type: none;

    li {
        @include blue-btn;
        @include general-styles;
        display: inline-block;
        margin: 0.5em 0.5em 0.5em 0;
        padding: 0.4em;
        font-size: 0.8em;
        font-weight: bold;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main;
    color: $accent;
    font-family: $main-text;

    .btn {
        @include general-styles;
        padding: 1em;
        transition: .3s;
        cursor: pointer;
    }

    .yellow-btn {
        @include yellow-btn;
    }

    .green-btn {
        @include green-btn;
    }

    .red-btn {
        @include red-btn;
    }

    .blue-btn {
        @include blue-btn;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    input, textarea {
        @include general-styles;
        padding: 1em;
        box-shadow: $shadow;

        font-family: $main-text;
        font-size: 1.2em;
        letter-spacing: 0.1em;
        color-scheme: $accent;

        &:placeholder {
            font-family: $main-text;
        }

        &:focus  {
            border-bottom: 5px solid $accent;
            outline: none;
        }
    }

    nav {
        //border: solid red;
        position: fixed;
        width: 100%;
        border-bottom: solid 0.5px $accent;
        background-color: $secondary;
        

        ul {
            display: flex;
            align-items: center;
            //justify-content: space-evenly;
            list-style-type: none;
            padding: 1em;
            font-size: 1.1em;

            li, button {
                cursor: pointer;
                font-weight: bold;
                letter-spacing: 0.1em;
                

                a {
                    text-decoration: none;
                    color: $accent;
                    transition: .3s;

                    &:hover {
                        color: white;
                    }
                }
                
            }

            li:not(:last-child) {
                margin: 0.5em 1em 0.5em 0;
            }

            li:last-child {
                margin-left: auto;
            }
        }
    }
}